<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <script>
    

    // document.addEventListener("DOMContentLoaded", function(event) { 
    //   document.getElementById("intro-logo").visible = false;
    //   setTimeout(() => {
    //     document.getElementById("intro-logo").visible = true;
    //   },1000);
    // });

  </script>
  <body>
    {{ partial "body-top" . }}
    <main>

      {{ partial "intro.html" . }}
      {{ partial "gallery.html" . }}
      {{ partial "about.html" . }}
      {{ partial "depoimentos.html" . }}
      {{ partial "viagem.html" . }}
      
      <!-- {{ partial "cursos.html" . }} -->
      
      
      {{ partial "contact.html" . }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
