00<link href="https://fonts.googleapis.com/css?family=Open+Sans|Alegreya" rel="stylesheet">
<style>
    /*
      orange: rgb(202,82,58);
    */
    body {
      font-family: "Open Sans";
    }
    main {
      margin-top: -40px;
    }
    #intro-logo IMG {
      display: block;
      max-width:500px;
      max-height:500px;
      width: auto;
      height: auto;

    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Alegreya" !important;
      font-weight: normal !important;
    }
    nav img {
      padding: 10px;
    }
    p {
      line-height: 2.3em !important;
      font-size: 0.9em;
    }
    .about p {
      font-size: 1rem;
    }
    .about h2 {
      margin-top: -15px;
    }
    nav a, header h1 {
      padding: 10px;
    }
    nav a:hover {
      color: rgb(202,82,58);
    }

    #intro {
      background-image: url('/images/texture-2.jpeg') !important;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    #viagem {
      background-image: url('/images/viagem-1.png') !important;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    @media only screen and(min-width: 48em) {
      .menu-item-lg {
        display: none;
      }
    }

    #nos {
      background-image: url('/images/texture-1.jpeg') !important;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    #nos .content {
      background-color: rgba(255,255,255,1);
      
      /* text-align: center; */
      padding: 30px 20px 0px 30px;
      
    }
    /* #nos .content p , #nos .content h2 , #nos .content em {
      color: white !important;
    } */

    #viagem .content {
      background-color: rgba(255,255,255,1);
      /* text-align: center; */
      padding: 30px 20px 0px 30px;
    }

    h2 {
      font-size: 2rem;
    }
    p {
      margin-top: 16px !important;
      margin-bottom: 16px !important;
      line-height: 1.5em;
    }

    #intro .content {
      background-color: rgba(255,255,255,1);
      /* text-align: center; */
      padding: 0px 20px 0px 30px;
    }

    #intro {
      font-size: 0.8em;
    }

    article h1 {
      font-size: 3em;
    }

    #form-submit {
      background-color: #62bc93;
      border-radius: 0px;
    }
    #form-submit:hover {
      background-color: #62bc93;
      border-radius: 10px;
    }
    #form-submit:active {
      background-color: #509777;
      font-size: 1.05em;
      border-radius: 10px;
    }

    em {
      font-style: normal;
    }

    .inscrevase-container {
      background-color: #ff793f;
      width: 100%;
      padding: 40px;
    }

    #intro-logo  {
      /* margin-top: 12%; */

      -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
      }

      @keyframes fadein {
          0% { opacity: 0; }
          25% { opacity: 0; }
          100%   { opacity: 1; }
      }

    article {
      font-size: 1rem;
    }

    .gallery-item .overlay {
      border: 60px solid #ff793f;
      background-color: #ff793f;
      font-size: 2rem;
    }

    .gallery-item  h2 {
      /* position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 20px;
      font-weight: bold;
      right: 0;
      background-color: white; */
      font-size: 1.2em;
    }
    .overlay {
      padding: 10px;
    }
    #menu-item-lg h3 a{
      /* color: white !important; */
      text-transform: uppercase;
    }
    /* h1 {
      text-transform: uppercase;
    } */
    header::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      /* background-image: url('/images/title.jpg') !important;
      background-attachment: fixed;
      background-size: contain;
      background-position: center; */
      background: #ff793f;
    }
    header {
      color: white;
    }

    section.about {
      /* background-image: url('/images/pattern.png') !important;
      background-attachment: fixed;
      background-repeat: repeat;
      background-size: 30%; */
    }

    .overlay h4 {
      color: white;
    }

    #viagem h2 {
      color: black !important;
    }

    #gallery img {
      padding: 60px;
    }

    #viagem .row img {
      padding: 10px 0px 10px 0px;
    }

    #about {
      background-color: rgb(243,219,188) ;
    }

    #contact {
      background-color:#ff793f;
    }

    footer {
      background-color: #62bc93;
    }

    footer div {
      color: white !important;
    }
</style>