<link href="https://fonts.googleapis.com/css?family=Open+Sans|Forum" rel="stylesheet">
<style>
    /*
      orange: rgb(202,82,58);
    */
    body {
      font-family: "Open Sans"
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Forum" !important;
    }
    .about p {
      font-size: 1rem;
    }
    .about h2 {
      margin-top: -15px;
    }
    nav {
      background-color: rgb(202,82,58);
    }
    nav h3, header h1 {
      color: white ;
    }

    .gallery-item  .gallery-item-title {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 20px;
      font-weight: bold;
      right: 0;
      background-color: white;
      font-size: 0.65em;
    }
    .overlay {
      padding: 10px;
    }
    #menu-item-lg h3 a{
      color: white !important;
      text-transform: uppercase;
    }
    /* h1 {
      text-transform: uppercase;
    } */
    header::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      /* background-image: url('/images/title.jpg') !important;
      background-attachment: fixed;
      background-size: contain;
      background-position: center; */
      background: rgb(202,82,58);
      filter: brightness(40%);
    }
    header {
      color: white;
    }

    section.about {
      /* background-image: url('/images/pattern.png') !important;
      background-attachment: fixed;
      background-repeat: repeat;
      background-size: 30%; */
    }

    .overlay h4, #viagem p {
      color: white;
    }

    #gallery img {
      padding: 60px;
    }

    #viagem .row img {
      padding: 10px 0px 10px 0px;
    }

    #about {
      background-color: rgb(243,219,188) ;
    }

    #contact {
      background-color:rgb(136,187,156)
    }

    #viagem {
      background-color:rgb(128,38,34);
      
    }
    #viagem h2 {
      color: white !important;
    }
</style>