<style>
    /* h1 {
      text-transform: uppercase;
    } */
    header {
      /* background-image: url('/images/pattern.png') !important;
      background-attachment: fixed; */
      background: rgb(202,82,58);
    }

    section.about {
      /* background-image: url('/images/pattern.png') !important;
      background-attachment: fixed;
      background-repeat: repeat;
      background-size: 30%; */
    }

    .overlay h4 {
      color: white;
    }

    #about {
      background-color: rgb(243,219,188) ;
    }

    #contact {
      background-color:rgb(136,187,156)
    }

    #viagem {
      background-color:rgb(128,38,34);
      
    }
    #viagem h2 {
      color: white !important;
    }
</style>