{{ $directory := "content/" }}
{{ $filename := "about.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="about" id="nos">
    <div class="container middle-xs">
      <!-- <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "about.md" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div> -->
      <div class="row content">
          <div class="col-xs-4 col-sm-4 middle-sm">
              <img src="/images/marcicano.jpg" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
            </div>
          <div class="col-xs-8 col-sm-8 middle-sm">
              {{ with $.Site.GetPage "page" "about.md" }}
                {{ .Content }}
              {{ end }}
            </div>
      </div>
    </div>
  </section>
{{ end }}