{{ if .Site.Params.ajaxFormspree }}
<section class="contact" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>Fale conosco</h1>
      </div>
    </div>

    <form id="form-contact" netlify>
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-6"><input type="text" name="name" placeholder="Nome" required></div>
        <div class="col-xs-12 col-sm-6"><input type="email" name="email" placeholder="Email" required></div>
        <div class="col-xs-12"><textarea name="message" placeholder="Mensagem" required></textarea></div>
        <input type="text" name="_gotcha" style="display:none">
        <input type="hidden" name="_next" value="/">
        <div class="col-xs-12 contact-submit">
          <input id="form-submit" type="submit" value="Enviar">
          <span id="form-thankyou" style="visibility:hidden">Obrigado pela mensagem! Entraremos em contrato em breve.</span>
        </div>
      </div>
    </form>

  </div>
</section>
{{ end }}
