<div class="row">
        <div class="col-xs-12 form-group">
                <label name="email">Confirme seu email</label>
                <input type="email" name="email" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="nome">Nome</label>
                <input type="text" name="nome" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="sobrenomes">Sobrenome(s)</label>
                <input type="text" name="sobrenomes" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="sobrenomes">Nome para certificado</label>
                <input type="text" name="sobrenomes" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="nascimento">Data de Nascimento</label>
                <input type="date" name="nascimento" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="nacionalidade">Nacionalidade</label>
                <input type="text" name="nacionalidade" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="cpf">CPF</label>
                <input type="text" name="cpf" required/>
        </div>
        
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="rg">RG</label>
                <input type="text" name="rg" required/>
        </div>
        <div class="col-xs-12 col-sm-12 form-group">
                <label name="endereco">Endereço</label>
                <input type="text" name="endereco" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="bairro">Bairro</label>
                <input type="text" name="bairro" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="cidade">Cidade</label>
                <input type="text" name="cidade" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="estado">Estado</label>
                <input type="text" name="estado" required/>
        </div>
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="cep">CEP</label>
                <input type="text" name="cep" required/>
        </div>
        
        <div class="col-xs-12 col-sm-4 form-group">
                <label name="celular">Celular</label>
                <input type="tel" name="celular" required/>
        </div>
        <div class="col-xs-12 form-group">
                <label name="promocao">Código Promocional</label>
                <input type="tel" name="promocao" required/>
        </div>
        <div class="col-xs-12 col-sm-12 form-group">
                        <br>
                        <label name="cidade-curso">Cidade de realização do curso</label>
                        <select name="cidade-curso" required>
                                <option>Rio de Janeiro</option>
                                <option>São Paulo</option>
                                <option>Vitória</option>
                        </select>
                        
                </div>
        <div class="col-xs-12 col-sm-12 form-group">
                <br>
                
                <h2 name="certificado">Deseja solicitar o Certificado Internacional emitido pelo ITM School da Tailândia?</h2>
                <select name="certificado" required>
                        <option>Sim</option>
                        <option>Não</option>
                        <option>Decidirei mais tarde</option>
                </select>
                <small>O valor do Certificado do ITM School é de 65 dólares (140 dólares para curso de Formação de Thai Massage) - não incluso no valor do curso. O pagamento é feito diretamente no site da escola tailandesa. No curso de Spa Tailandês haverá apenas emissão de certificado nacional.</small>                
        </div>
        
        <div class="col-xs-12 col-sm-12 form-group">
                        <br>
                        <label name="pagamento">Forma de pagamento</label>
                        <select name="pagamento" required>
                                <option>À vista (desconto)</option>
                                <option>Parcelamento no cartão</option>
                        </select>
                        
                </div>
                
                
        <div class="col-xs-12 form-group">
                <br>
                
                <label name="como-soube">Como soube sobre o <em>Sabaai</em>?</label>
                <select name="como-soube" required>
                        <option></option>
                        <option>Instagram</option>
                        <option>Facebook</option>
                        <option>Indicação de amigos</option>
                        <option>Google</option>
                        <option>Outro</option>
                </select>
        </div>
        <div class="col-xs-12 form-group">
                <br>
                        <label name="outros">Se outros, favor especificar</label>
                        <input type="text" name="outros" />                
        </div>
        <div class="col-xs-12 col-sm-12 form-group">
                <br>
                <label name="mailing">Deseja receber as novidades do Sabaai por email?</label>
                <select name="mailing" required>
                        <option>Sim</option>
                        <option>Não</option>
                </select>
        </div>
        
</div>
