
  <div class="inscrevase-container">
    <form netlify id="preinscricao" name="preinscricao" method="POST"  data-redirect-url="/inscricao-{{ .Params.Id }}">
        <input type="hidden" name="form-name" value="inscrevase-{{ .Params.Id }}" />
        <input type="hidden" name="curso" value="{{ .Params.Id }}" />
        <div class="row">
            <div class="col-xs-12">
                Inscreva-se já! Demora menos de 2 minutos.
            </div>
            <div class="col-xs-12 col-sm-9">
                    <input type="email" title="email" name="email" id= "email" required placeholder="Informe-nos seu email!" oninvalid="setCustomValidity('Preencha com um email válido!')" oninput="setCustomValidity('')" />
            </div>
            <div class="col-xs-12 col-sm-3">
                    <input type="submit" value="Inscreva-se!">
            </div>
        </div>
    </form>
</div>
<script>// POST form data to zapier on submit
        $('#preinscricao').on('submit',function(e){
            e.preventDefault();
            $.ajax({
                url:'https://hooks.zapier.com/hooks/catch/3971383/eqpw3o/',
                type:'post',
                data: $("#preinscricao").serialize(),
                success:function(){
                    window.location = $('#preinscricao').data('redirect-url');
                }
            });
        });</script>