<div class="inscrevase-container">
    <form netlify name="inscrevase" method="POST" action="/inscricao-{{ .Params.Id }}">
        <input type="hidden" name="form-name" value="inscrevase" />
        <input type="hidden" id="curso" value="{{ .Params.Id }}" />
        <div class="row">
            <div class="col-xs-12">
                Inscrever-se nos cursos do <em>Sabaai</em> é muito fácil! Informe-nos seu email para começarmos a inscrição :)
            </div>
            <div class="col-xs-12 col-sm-9">
                    <input type="email" id="email" placeholder="Informe-nos seu email!" />
            </div>
            <div class="col-xs-12 col-sm-3">
                    <input type="submit" value="Inscreva-se!">
            </div>
        </div>
    </form>
</div>